---
import Container from "@/components/Container.astro"
import JustLayout from "@/layouts/JustLayout.astro"
import { getAllPosts } from "@/utils/getPosts"

export async function getStaticPaths() {
	const posts = await getAllPosts("posts")
	return posts.map(post => ({
		params: { slug: post.slug },
		props: { post },
	}))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<JustLayout {...post.data}>
	<div
		class="absolute w-full -z-[1] top-0 h-[50%] left-0 bg-gradient-to-b from-purple-900/40 to-black"
	>
	</div>
	<section class="py-[120px]">
		<Container>
			<a href="/posts" class="bg-zinc-800 rounded-lg px-3 py-1.5">Назад</a>
			<div class="py-6 flex flex-col gap-3">
				<h1
					class="before:h-full pl-5 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-purple-500 lg:text-6xl text-4xl font-black tracking-tighter"
				>
					{post.data.title}
				</h1>
				<p class="text-zinc-400">{post.data.description}</p>
			</div>
			<main class="prose-zinc prose max-w-none prose-lg prose-invert">
				<Content />
			</main>
		</Container>
	</section>
</JustLayout>
