---
import Container from "@/components/Container.astro"
import Post from "@/components/Post.astro"
import JustLayout from "@/layouts/JustLayout.astro"
import { getAllPosts } from "@/utils/getPosts"
import { getPosts } from "@/utils/sanity"

const posts = await getAllPosts("posts")
const postsLen = posts.length

const postsSanity = await getPosts()
export const prerender = false
---

<JustLayout
	title={`АПРО: материалы, объявления, истории и опыт`}
	description="материалы, объявления и истории Анонимных Прокрастинаторов"
>
	<section class="my-[120px]">
		<Container>
			<h3
				class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-purple-500 mb-6 text-xl"
			>
				Посты и статьи от <b>сообщества.</b>
			</h3>
			<div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
				{posts && posts.map(post => <Post data={post.data} slug={post.slug} />)}
			</div>
			<h3
				class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-lime-500 mt-12 mb-6 text-xl"
			>
				Посты от <b>авторов</b>: опыт, обзоры и прочее.
			</h3>
			<div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
				{
					postsSanity.length > 0 ? (
						postsSanity.map(group => <Post isSanity post={group} />)
					) : (
						<span class="text-white italic">Нет пока что постов...</span>
					)
				}
			</div>
		</Container>
	</section>
</JustLayout>
