---
import Container from "@/components/Container.astro"
import H2PresentSection from "@/components/ui/H2PresentSection.astro"
import JustLayout from "@/layouts/JustLayout.astro"
---

<JustLayout title="Об АПРО">
	<!-- <div
		class="absolute w-full -z-[1] top-0 h-[70%] left-0 bg-gradient-to-b from-blue-900/40 via-green-900/40 to-black"
	>
	</div> -->
	<Container>
		<section class="py-[120px]">
			<H2PresentSection icon="mdi:lightbulb-group">
				<Fragment slot="name">О нас</Fragment>
				<Fragment slot="p">АПРО: кто и что мы.</Fragment>
			</H2PresentSection>
			<div class="p-6 rounded-xl bg-zinc-900 ring-1 ring-zinc-800">
				<div
					class="prose prose-p:first:mt-0 prose-p:my-5 max-w-none prose-p:font-light prose-strong:font-black prose-invert prose-zinc md:prose-lg lg:prose-xl"
				>
					<p
						class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-blue-500 mt-12 mb-6"
					>
						<strong>Мы рады всем из всех стран и городов СНГ:</strong> 🇷🇺 Россия, 🇧🇾 Беларусь,
						🇰🇿 Казахстан, 🇺🇿 Узбекистан, 🇹🇯 Таджикистан, 🇰🇬 Кыргызстан, 🇦🇲 Армения, 🇦🇿 Азербайджан,
						🇲🇩 Молдова, 🇹🇲 Туркменистан, 🇺🇦 Украина
					</p>

					<p
						class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-blue-500 mt-12 mb-6"
					>
						<strong>Наши группы возможны на всех языках</strong>: татарский, белорусский,
						казахский, узбекский, таджикский, кыргызский, армянский, азербайджанский,
						молдавский (румынский), туркменский, украинский
					</p>
					<p
						class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-purple-500 mt-12 mb-6"
					>
						Мы сообщество людей, которые делятся своим <strong>опытом</strong>, <strong
							>силами</strong
						> и <strong>надеждами</strong> друг с другом для того, чтобы решать<strong>
							наши общие или же схожие проблемы, а также прокрастинацию</strong
						> и помогать решить их другим.
					</p>

					<p
						class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-purple-500 mt-12 mb-6"
					>
						Мы не связаны ни с какой <strong>политической</strong>, <strong
							>религиозной</strong
						> или
						<strong>правоохранительной</strong>
						организацией, и не находимся ни под чьим контролем.
					</p>

					<p
						class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-purple-500 mt-12 mb-6"
					>
						Присоединиться к нам может <strong>каждый</strong>, независимо от возраста,
						пола, национальности, убеждений, религии, или отсутствия таковой. У нас нет ни
						вступительных, ни членских взносов. Мы сами себя содержим благодаря нашим
						добровольным пожертвованиям.
					</p>

					<p
						class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-green-500 mt-12 mb-6"
					>
						<strong>Единственным</strong> условием для членства является желание меняться.
					</p>

					<p
						class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-emerald-500 mt-12 mb-6"
					>
						<strong>Наша главная цель</strong> – оставаться в хорошем духе и помочь другим
						прокрастинаторам обрести силу для изменения жизни. Это является неотъемлемой частью
						цели выздоровления от прокрастинации <b>«12 шагов АПРО».</b>
					</p>
					<p
						class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-sky-500 mt-12 mb-6"
					>
						Помочь прокрастинатору узнать о, <strong>возможном решении</strong>, которое
						есть в Содружестве АПРО, можно разместив информацию об АПРО или координаты
						ближайших групп."
					</p>
				</div>
			</div>
		</section>
	</Container>
</JustLayout>
