---
import CommunitiesList from "@/components/CommunitiesList.astro"
import Container from "@/components/Container.astro"
import Freinds from "@/components/Freinds.astro"
import Footer from "@/components/partials/Footer.astro"
import Canvas from "@/components/ui/Canvas.astro"
import H2PresentSection from "@/components/ui/H2PresentSection.astro"
import Title from "@/components/ui/Title.astro"
import JustLayout from "@/layouts/JustLayout.astro"
---

<JustLayout
	title="Анонимные Прокрастинаторы - официальный сайт СНГ"
	description={`У тебя проблема с прокрастинацией - возможно, мы поможем! Рады всем из всех стран мира.`}
>
	<div
		class="relative w-full h-[calc(40%+72px)] md:h-[calc(55%+72px)] overflow-hidden flex flex-col justify-center rounded-b-[60px]"
	>
		<Container>
			<Title />
		</Container>
		<Canvas />
	</div>

	<Container>
		<main class="flex flex-col gap-20 py-20">
			<section>
				<H2PresentSection icon="mdi:account-group">
					<Fragment slot="name">Из разных сообществ</Fragment>
					<Fragment slot="p"
						>АП принимает все сообщества, входящие в 12-ти шаговые программы. Мы рады
						всем!</Fragment
					>
				</H2PresentSection>
				<CommunitiesList />
			</section>

			<!-- <section id="create-group">
				<H2PresentSection icon="mdi:telegram">
					<Fragment slot="name">Создай свою группу АП!</Fragment>
					<Fragment slot="p"
						>Любые 2-3 Прокрастинатора могут создать свою группу в рамках 3-4 традиции.</Fragment
					>
				</H2PresentSection>
				<CreateGroup />
			</section> -->
			<section id="contacts">
				<H2PresentSection icon="mdi:account-box">
					<Fragment slot="name">Контакты для связи</Fragment>
					<Fragment slot="p">Узнать информацию о сообществе АП и его друзьях</Fragment>
				</H2PresentSection>
				<Freinds />
			</section>
		</main>
		<Footer />
	</Container>
</JustLayout>
