---

---

<div
	class="prose max-w-none prose-invert prose-zinc prose-blue p-6 rounded-xl bg-zinc-900 ring-1 ring-zinc-800"
>
	<h4>Создать свою группу АП очень легко! Краткое руководство по созданию.</h4>
	<p>
		Каждая группа должна быть вполне самостоятельной, за исключением дел, затрагивающих
		другие группы или АП в целом.
	</p>
	<ul>
		<li>
			Каждая группа должна быть вполне самостоятельной, за исключением дел, затрагивающих
			другие группы или АП в целом.
		</li>
	</ul>

	<h4>Третья Традиция</h4>

	<blockquote>
		Нам следует принимать всех, страдающих от прокрастинации, лени и СДВГ. Поэтому мы не
		можем отказывать никому из тех, кто желает выздоравливать. Членство в АП никогда не
		должно связываться с денежными соображениями или с умением приспосабливаться. <b
			>Любые два-три Прокрастинатора</b
		>, собравшиеся вместе с целью поддержания трезвости, могут называть себя группой АП
		при условии, что как группа они не входят в какую-либо другую организацию.
	</blockquote>
	<h3>Как работает группа АП?</h3>
	<h4>Традиция четвертая:</h4>
	<blockquote>
		В том, что касается своих собственных дел, каждая группа АП не несет ответственности
		ни перед кем, кроме своей совести. Но когда ее планы затрагивают интересы других
		групп, с ними необходимо советоваться. Ни одной группе, ни одному региональному
		комитету и ни одному члену АП никогда не следует предпринимать каких-либо действий,
		которые могут сильно повлиять на АП в целом, не посоветовавшись с опекунами Главного
		Совета Обслуживания. В таких вопросах наше общее благо важнее всего.
	</blockquote>
	<h3>Как создать группу АП?</h3>
	<p>
		Вы подумываете о том, чтобы организовать новую группу АП? Причины для этого могут быть
		разные, но пути осуществления, как правило, одинаковы.
	</p>
	<h4>Для создания новой группы важно:</h4>
	<ul>
		<li>Потребность в таковой, выраженная как минимум двумя-тремя прокрастинаторами;</li>
		<li>Сотрудничество с другими членами АП;</li>
		<li>Помещение для проведения собраний (Telegram группа);</li>
		<li>Чайник (если живая группа);</li>
		<li>Литература и справочники групп АА (В процессе создания);</li>
		<li>Прочие ресурсы.</li>
	</ul>
	<p>
		Когда группа будет готова к началу работы, полезно сообщить о её существовании в КИО
		АП. <a target="_blank" href="https://t.me/legion_free">Telegram контакт для связи</a>
	</p>
	<h3>Как назвать группу?</h3>
	<p>
		Опыт Содружества научил группы АП избегать любой формы объединения с посторонними
		организациями и не поддерживать ни одну из них, какими бы благородными они ни были.
	</p>
	<h4>Традиция шестая:</h4>
	<blockquote>
		«Группе АП никогда не следует поддерживать, финансировать или предоставлять имя АП для
		использования какой-либо родственной организации или посторонней компании, чтобы
		проблемы, связанные с деньгами, собственностью и престижем, не отвлекали нас от нашей
		главной цели».
	</blockquote>
	<p>
		Следует избегать даже видимости принадлежности к каким-либо организациям, клубам,
		политическим или религиозным движениям. В связи с этим, если группа АП проводит
		собрания в исправительном или лечебном учреждении или в церкви, не стоит использовать
		в названии имя этой организации. Лучше выбрать другое название, чтобы было ясно, что
		группа не связана с этой больницей, церковью, тюрьмой или лечебным центром, а лишь
		арендует там помещение для своих собраний.
	</p>
	<h3>Главная цель группы АП!</h3>
	<p>Главная цель любой группы АП — нести нашу весть прокрастинаторам.</p>
	<p>Прокрастинаторский опыт — это то общее, что связывает всех членов АП.</p>
</div>
