---

---

<div
	class="prose max-w-none prose-invert prose-zinc prose-sky prose-a:underline-offset-4 p-6 rounded-xl bg-zinc-900 ring-1 ring-zinc-800"
>
	<h3>Соц. сети:</h3>
	<ul>
		<li><a target="_blank" href="https://vk.com/apro_12steps">VK группа</a></li>
		<li>
			<a target="_blank" href="https://www.youtube.com/@papro_community">YouTube канал</a>
		</li>
		<li>
			<a target="_blank" href="https://t.me/apro_other"
				>Telegram группа разработки для АПРО</a
			>
		</li>
	</ul>
	<h3>Наши друзья - АИЗ (Анонимные Интернет Зависимые)</h3>
	<p>
		Анонимные Интернет-Зависимые (АИЗ) — это двенадцатишаговое сообщество людей, которые
		поддерживают друг друга в выздоровлении от интернет-зависимости.
	</p>
	<ul>
		<li>
			<a target="_blank" href="https://internetaddicts.ru/">Официальный сайт АИЗ</a>
		</li>
		<li><a target="_blank" href="https://t.me/aiz_itta">Главный чат АИЗ</a></li>
		<li>
			<a target="_blank" href="https://internetaddicts.ru/posts/kto-takie-aiz/"
				>Кто такие АИЗ?</a
			>
		</li>
	</ul>
	<h3>Контакты по связи с развитием сообщества АПРО</h3>
	<a target="_blank" href="https://t.me/legion_free">Telegram контакт для связи</a>
</div>
