---

---

<div
	class="prose max-w-none prose-invert prose-zinc prose-blue p-6 rounded-xl bg-zinc-900 ring-1 ring-zinc-800"
>
	<h3>Наши друзья - АИЗ (Анонимные Интернет Зависимые)</h3>
	<p>
		Анонимные Интернет-Зависимые (АИЗ) — это двенадцатишаговое сообщество людей, которые
		поддерживают друг друга в выздоровлении от интернет-зависимости.
	</p>
	<ul>
		<li>
			<a target="_blank" href="https://internetaddicts.ru/">Официальный сайт АИЗ</a>
		</li>
		<li><a target="_blank" href="https://t.me/aiz_itta">Главный чат АИЗ</a></li>
		<li>
			<a target="_blank" href="https://internetaddicts.ru/posts/kto-takie-aiz/"
				>Кто такие АИЗ?</a>
		</li>
	</ul>
	<h3>Контакты по связи с развитием сообщества АП</h3>
	<a target="_blank" href="https://t.me/legion_free">Telegram контакт для связи</a>
</div>
