---

---

<div class="p-6 rounded-xl bg-zinc-900 ring-1 ring-zinc-800">
	<div
		class="prose prose-p:first:mt-0 prose-p:my-5 max-w-none prose-p:font-light prose-strong:font-black prose-invert prose-zinc md:prose-lg lg:prose-xl"
	>
		<p
			class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-purple-500 mt-12 mb-6"
		>
			Мы сообщество людей, которые делятся своим <strong>опытом</strong>, <strong
				>силами</strong
			> и <strong>надеждами</strong> друг с другом для того, чтобы решать<strong>
				наши общие или же схожие проблемы, а также прокрастинацию</strong
			> и помогать решить их другим.
		</p>

		<p
			class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-purple-500 mt-12 mb-6"
		>
			Мы не связаны ни с какой <strong>политической</strong>, <strong>религиозной</strong>
			или
			<strong>правоохранительной</strong>
			организацией, и не находимся ни под чьим контролем.
		</p>

		<p
			class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-purple-500 mt-12 mb-6"
		>
			Присоединиться к нам может <strong>каждый</strong>, независимо от возраста, пола,
			национальности, убеждений, религии, или отсутствия таковой. У нас нет ни
			вступительных, ни членских взносов. Мы сами себя содержим благодаря нашим
			добровольным пожертвованиям.
		</p>

		<p
			class="before:h-full pl-4 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-green-500 mt-12 mb-6"
		>
			<strong>Единственным</strong> условием для членства является желание меняться.
		</p>
	</div>
</div>
