---
import Container from './Container.astro'


---

<div class="relative w-full flex gap-6 snap-x snap-mandatory overflow-x-auto">
	<section class="bg-white text-black py-[120px] snap-center shrink-0 border">
		<Container>
			<div class="flex justify-center items-center">
				<h1 class="text-5xl font-black line-clamp-1">TEXT text text text</h1>
			</div>
		</Container>
	</section>

	<section class="bg-white text-black py-[120px] snap-center shrink-0 border">
		<Container>
			<div class="flex justify-center items-center">
				<h1 class="text-5xl font-black line-clamp-1">TEXT text text text</h1>
			</div>
		</Container>
	</section>

	<section class="bg-white text-black py-[120px] snap-center shrink-0 border">
		<Container>
			<div class="flex justify-center items-center">
				<h1 class="text-5xl font-black line-clamp-1">TEXT text text text</h1>
			</div>
		</Container>
	</section>
</div>
